<script id="t-error" type="text/html">

    <div class="error-component">
        <h1 class="error-heading" data-bind="text: heading"></h1>
        <div class="error-detail">
            <span data-bind="text: body"></span>
        </div>
    </div>

</script>
