<script id="t-nav" type="text/html">

    <div class="nav-component" data-bind="foreach: nav">
        <div>
            <a href = "javascript:void(0);" data-bind="text: text, attr: { href: route }">Nav</a>
        </div>
    </div>

</script>
