<nav>
    <a href="/">Home</a> |
    <a href="/gidget/example">Example Route</a> |
    <a href="/gidget/breweries/Straub/beers/Lager">Example Route with Params</a>
    <a href="/foo">Example 404</a>
</nav>
<main id="main">
    <!-- ko if: viewModel() -->
    <div data-bind="template: { name: viewModel().template, data: viewModel, afterRender: afterRender }">
    </div>
    <!-- /ko -->
    <!-- ko ifnot: viewModel() -->
    <div>
        <!-- no view model -->
    </div>
    <!-- /ko -->
</main>
