doctype

include ./_docs-mixins.jade

html
    head
        meta(charset="utf-8")
        title= self.api.name || 'API Documentation'
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/monokai_sublime.min.css")
        link(rel="stylesheet", href="/css/docs.css")
    body.preload
        a.text-muted.back-to-top(href='#top')
            i.fa.fa-toggle-up
            | &nbsp;Back to top

        a.text-muted.toggle-examples(class='toggle-examples', href='javascript:void(0)')
            i.fa.fa-toggle-up
            | &nbsp;Toggle examples
        div(class=self.fullWidth ? 'container-fluid' : 'container')
            .row
                block nav
                    +Nav(false)

                .content
                    block content
                        +Content('primary', false)

        p.text-muted(style="text-align: center;")
            | Generated in part by&nbsp;
            a.aglio(href="https://github.com/danielgtaylor/aglio") aglio
            | &nbsp;on #{self.date().format('DD MMM YYYY')}

        script(src="/scripts/docs.js")

        if self.livePreview
            script(src="/socket.io/socket.io.js")
            script.
                var socket = io();
                socket.on('refresh', refresh);
                socket.on('reconnect', function () {
                    socket.emit('request-refresh');
                });
