<div id="docs" class="container-fluid">
    <div class="row">
        <nav id="nav" class="col-md-2"></nav>
        <main id="main" class="col-md-10">{{{content}}}</main>
        <aside id="aside" class="col-md-3"></aside>
    </div>
</div>
