{{#extend "scripts"}}
    <link rel="stylesheet" href="/css/default.css" />
{{/extend}}

<nav>
    <a href="/">Home</a> |
    <a href="/gidget/example">Example Route</a> |
    <a href="/gidget/breweries/Straub/beers/Lager">Example Route with Params</a> |
    <a href="/gidget/breweries/Straub/beers/Amber?s=ambers&t=beers">Example Route with Params and Query String</a> |
    <a href="/gidget/breweries/Straub/beers/Light?s=lights&t=beers#heading">Example Route with Params, Query String and Hash</a> |
    <a href="/gidget/breweries/Straub/beers/GroundHogAltbier#heading">Example Route with Params and Hash</a> |
    <a href="/foo">Example 404</a>
</nav>
<main id="main">
    <!-- ko if: viewModel() -->
    <div data-bind="template: { name: viewModel().template, data: viewModel, afterRender: afterRender }">
    </div>
    <!-- /ko -->
    <!-- ko ifnot: viewModel() -->
    <div>
        <!-- no view model -->
    </div>
    <!-- /ko -->
</main>
